<center><h1> Tutorial2_DataFrame </h1></center>

# 1. loading modules

In [ ]:
import pandas as pd #pd is an alias for pandas
import numpy as np #np is an alias for numpy

# 2. creating DataFrames

you can construct a DataFrame using
1. list
2. dictionary
3. Series
4. numpy ndarray
5. DataFrame

### 2-1. using list

In [ ]:
ddata = [
        [1000, 'dog', 4], 
        [1001, 'cow', 4], 
        [1002, 'bird', 2], 
        [1003, 'ant', 6], 
        [1004, 'spider', 8],
        [1005, 'cat', 4]
        ]
df1 = pd.DataFrame(ddata) #Dataframe(X)
print(df1)

### 2-2. using dictionary

In [ ]:
ddata2 = {'Number' : [1000, 1001, 1002, 1003, 1004, 1005],
          'Species' : ['dog', 'cow', 'bird', 'ant', 'spider', 'cat'],
          'Number of legs' : [4, 4, 2, 6, 8, 4]}
df2 = pd.DataFrame(ddata2)
print(df2)

In [ ]:
df1 = pd.DataFrame(ddata, columns=['Number', 'Species', 'Number of legs'])
print(df1)

### 2-3. QUIZ

* Create the same DataFrame as below using (1) list and (2) dictionary.

![image](./images/2_quiz_2_3.png)

source : https://blog.bizvibe.com/blog/largest-electronics-companies

### Answer (1)

### Answer (2)

# 3. values and indices

In [ ]:
ddata3 = [ 
         [0, 'Apple', 'U.S.', 1, 260.17], 
         [1, 'LG', 'S.Korea', 10, 54.39], 
         [2, 'Samsung', 'S.Korea', 2, 221.6], 
         [3, 'Sony', 'Japan', 7, 80.92], 
         [4, 'Dell', 'U.S.', 5, 90.62],
         [5, 'Intel', 'U.S.', 9, 71.9]
         ]
df3 = pd.DataFrame(ddata3, columns=['Num', 'Company', 'Headquarters', 'Rank', 'Revenue(USD billions)']) 
print(df3) #dataframe from the quiz above

### 3-1. values of DataFrame

In [ ]:
df3.values

### 3-2. column level indices of DataFrame

In [ ]:
df3.columns #also called as 'column names'

### 3-3. changing column names

In [ ]:
df3.columns = ["번호", "기업", "국가", "순위", "수익"]
df3

### 3-4. row level indices of DataFrame

In [ ]:
df3.index

### 3-5. changing row level indices

In [ ]:
df3.index = ['가', '나', '다', '라', '마', '바']
df3

### 3-6. creating a DataFrame including row/column level indices

In [ ]:
ddata4 = [ 
         [0, 'Apple', 'U.S.', 1, 260.17], 
         [1, 'LG', 'S.Korea', 10, 54.39], 
         [2, 'Samsung', 'S.Korea', 2, 221.6], 
         [3, 'Sony', 'Japan', 7, 80.92], 
         [4, 'Dell', 'U.S.', 5, 90.62],
         [5, 'Intel', 'U.S.', 9, 71.9]
         ]
columns = ['Num', 'Company', 'Headquarters', 'Rank', 'Revenue(USD billions)']
index = ['one', 'two', 'three', 'four', 'five', 'six']

df4 = pd.DataFrame(ddata4, columns=columns, index=index)
df4

### 3-5. QUIZ
```
(1) Return the values of the DataFrame below.
(2) Set the column names as 'Num, Animal, and Number of Legs'.
(3) Set the row level indices as 'A, B, C, D, E, F'.
```

In [ ]:
ddata = [
        [1000, 'dog', 4], 
        [1001, 'cow', 4], 
        [1002, 'bird', 2], 
        [1003, 'ant', 6], 
        [1004, 'spider', 8],
        [1005, 'cat', 4]
        ]
df1 = pd.DataFrame(ddata) 
print(df1)

### Answer (1)

### Answer (2)

### Answer (3)

# 4. data overview

In [ ]:
ddata4 = [ 
         [0, 'Apple', 'U.S.', 1, 260.17], 
         [1, 'LG', 'S.Korea', 10, 54.39], 
         [2, 'Samsung', 'S.Korea', 2, 221.6], 
         [3, 'Sony', 'Japan', 7, 80.92], 
         [4, 'Dell', 'U.S.', 5, 90.62],
         [5, 'Intel', 'U.S.', 9, 71.9]
         ]
columns = ['Num', 'Company', 'Headquarters', 'Rank', 'Revenue(USD billions)']
index = ['one', 'two', 'three', 'four', 'five', 'six']

df4 = pd.DataFrame(ddata4, columns=columns, index=index)
df4 #dataframe above

### 4-1. returning the first n rows(default 5)

In [ ]:
df4.head(n=3)

### 4-2. returning the last n rows(default 5)

In [ ]:
df4.tail(n=2)

### 4-3. summary

In [ ]:
df4.info()

### 4-4. statistics

In [ ]:
df4.describe()

### 4-5. size and shape
- size : number of elements
- shape : number of rows and columns

In [ ]:
df4.size

In [ ]:
df4.shape

### 4-6. sorting values

In [ ]:
df4 #DataFrame above

In [ ]:
df4.sort_values(by='Rank')

In [ ]:
df4.sort_values(by='Company')

In [ ]:
df4.sort_values(by=df4.columns[4]) #what does df4.columns[4] mean?

In [ ]:
df4.sort_values(by=df4.columns[4], ascending=False)

### 4-7. unique values

In [ ]:
df4['Headquarters'].unique()

In [ ]:
df4['Headquarters'].nunique()

### 4-8. QUIZ
```
(1) Return the last two rows of the DataFrame df5.    
(2) What is the mean value of the students' scores?    
(3) Who got the best score? Sort the values in column 'Score' in a descending order.    
```

In [ ]:
ddata5 = {'ID' : ['202101', '202102', '202103', '202104', '202105', '202106'],
        'Name' : [ 'Gildong', 'Mongryong', 'Chulsoo', 'Haneul', 'Minsoo', 'Seoyeon'],
        'Score' : [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
       }
df5 = pd.DataFrame(ddata5, index=['가', '나', '다', '라', '마', '바'])
df5

### Answer (1)

### Answer (2)

### Answer (3)

# 5. indexing and selecting data

In [ ]:
ddata6 = {'ID' : ['202101', '202102', '202103', '202104', '202105', '202106'],
          'Name' : [ 'Gildong', 'Mongryong', 'Chulsoo', 'Haneul', 'Minsoo', 'Seoyeon'],
          'Score' : [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
          }

df6 = pd.DataFrame(ddata6, index=['가', '나', '다', '라', '마', '바'])
df6

### 5-1. selecting columns

In [ ]:
df6['ID']

In [ ]:
df6.ID

In [ ]:
type(df6['ID'])

In [ ]:
type(df6.ID)

In [ ]:
df6['ID', 'Score']

In [ ]:
df6[['ID', 'Score']]

In [ ]:
type(df6[['ID', 'Score']])

### 5-2. selecting rows

In [ ]:
df6['가'] #selecting columns, there is no column level index named '가'

In [ ]:
df6[0:1] #final index is excluded from the slice

In [ ]:
df6[3:4]

In [ ]:
type(df6[3:4])

In [ ]:
df6[2:4]

### 5-3. selecting by labels : df.loc[rows, columns]

In [ ]:
df6

In [ ]:
df6.loc['가'] #returns the values in row level, same as df6.loc['가', :]

In [ ]:
type(df6.loc['가'])

In [ ]:
df6.loc[['가']]

In [ ]:
type(df6.loc[['가']])

In [ ]:
df6.loc['가':'다', ['ID', 'Score']] 
#final value is included because '다' is not an index number but a label(names)

In [ ]:
df6.loc[:,'Name':'Score']

In [ ]:
df6.loc[3:5,-1]

### 5-4. selecting by indices(position) : df.iloc[rows, columns]

In [ ]:
df6

In [ ]:
df6.iloc[0] #returns the values in row level

In [ ]:
type(df6.iloc[0])

In [ ]:
df6.iloc[[0]]

In [ ]:
type(df6.iloc[[0]])

In [ ]:
df6.iloc[0:3,1:3] #final indices are excluded from the slice

In [ ]:
df6.iloc[-1:,:]

### 5-5. selecting by conditions

In [ ]:
df6

In [ ]:
df6[df6['Name']=='Gildong'] #print df6['ID']=='202103' first

In [ ]:
df6[df6['ID']==202103] #values in column ID are objects, not int

In [ ]:
df6.info()

In [ ]:
df6[df6['ID']=='202103']

In [ ]:
df6[df6['Score']>=80]

In [ ]:
df6[(df6['Name']!='Gildong') & (df6['ID']!='202104')]

### 5-6. QUIZ
```
(1) Return the 3rd row of the DataFrame df7.
(2) Select the ID and Score of Mongryong.
(3) Return the ID values of the students whose scores are under 85.
(4) Select the last column of the DataFrame df7.
```

In [ ]:
ddata7 = {'ID' : [202101, 202102, 202103, 202104, 202105, 202106],
          'Name' : [ 'Gildong', 'Mongryong', 'Chulsoo', 'Haneul', 'Minsoo', 'Seoyeon'],
          'Score' : [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
         }
df7 = pd.DataFrame(ddata7, index=['가', '나', '다', '라', '마', '바'])
df7

### Answer (1)

### Answer (2)

### Answer (3)

### Answer (4)

# 6. grouping data

In [ ]:
ddata8 = {'Location': ['Pusan', 'Pusan', 'Pusan', 'Pusan', 'Seoul', 'Seoul', 'Seoul'],
          'Fruit': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
          'Price': [1000, 2000, 2500, 3000, 1500, 2000, 4000],
          'Quantity': [1, 2, 3, 4, 5, 6, 7]
          }
df8 = pd.DataFrame(ddata8)
df8

### 6-1. operations

In [ ]:
df8.groupby(['Location']).mean()

In [ ]:
df8.groupby(['Fruit']).min()

In [ ]:
df8.groupby(['Location']).count()

In [ ]:
df8.groupby(['Location']).sum()

In [ ]:
df8.groupby(['Location'], as_index=False).sum()

In [ ]:
df8.groupby(['Location'], as_index=False).size()

### 6-2. grouping multiple columns

In [ ]:
df8.groupby(['Location', 'Fruit']).count()

In [ ]:
df8.groupby(['Location', 'Fruit']).agg(['min', 'max', 'mean'])

In [ ]:
df8.groupby(['Location', 'Fruit']).agg(['min', 'max', 'mean'])['Price']

### 6-3. QUIZ
```
(1) How many juniors are there?
(2) What is the lowest GPA in Biology major?
(3) Group the DataFrame df9 below by major and grade, and figure out the mean value of juniors' GPA whose majors are Computer Science.
```

In [ ]:
ddata9 = {"Major" : ["Computer Science", "Biology", "Biology", "Computer Science", "Computer Science", "Biology", "Computer Science", "Biology"],
          "Grade" : ["freshman", "senior", "freshman", "junior", "junior", "senior", "junior", "junior"],
          "Name" : ["Jason", "Mark", "Michelle", "Sarah", "Peter", "Natalie", "Adam", "Veronica"],
          "GPA" : [4.1, 3.5, 4.3, 3.6, 2.9, 4.4, 4.3, 3.1]}
df9 = pd.DataFrame(ddata9)
df9

### Answer (1)

### Answer (2)

### Answer (3)

# 7. missing values

In [ ]:
df10 = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, 5, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [0, 3, 2, 4]],
                   columns=list('ABCD'))
df10

### 7-1. checking the missing data

In [ ]:
df10.isnull()

In [ ]:
df10['A'].isnull()

In [ ]:
df10['B'].isnull()

### 7-2. number of the missing data

In [ ]:
df10.isnull().sum()

In [ ]:
df10['C'].isnull().sum()

In [ ]:
df10.notnull().sum()

### 7-3. dropping missing values

In [ ]:
df10.dropna()

In [ ]:
df10.dropna(subset=['B', 'D'])

### 7-4. replace the missing value with some other values

In [ ]:
df10.fillna(value=-1)

### 7-5. QUIZ
```
(1) How many non-null values are there for the First Score?
(2) Replace all the missing values with 0, and compute the mean grade for the fourth score.
```

In [ ]:
df11 = pd.DataFrame([[100, np.nan, 70, 90],
                   [np.nan, 60, np.nan, 90],
                   [50, 50, np.nan, np.nan],
                   [np.nan, 70, np.nan, 100]],
                   columns=['First Score', 'Second Score', 'Third Score', 'Fourth Score'])
df11

### Answer (1)

### Answer (2)