In [216]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib 
%matplotlib notebook
from mpl_toolkits.mplot3d import axes3d
import seaborn as sns
from sklearn import preprocessing
import numpy as np
import progressbar

In [2]:
[f.name for f in matplotlib.font_manager.fontManager.ttflist if 'Nanum' in f.name]

['NanumBarunGothic',
 'NanumSquare',
 'NanumGothic',
 'NanumSquareRound',
 'NanumMyeongjo',
 'NanumSquare',
 'NanumBarunGothic',
 'NanumGothic',
 'NanumMyeongjo',
 'NanumSquareRound',
 'NanumSquare',
 'NanumSquare',
 'NanumMyeongjo',
 'NanumGothic',
 'NanumGothic',
 'NanumSquareRound',
 'NanumSquareRound',
 'NanumBarunGothic',
 'NanumBarunGothic',
 'NanumMyeongjo']

In [3]:
matplotlib.rcParams['axes.unicode_minus'] = False
plt.rcParams["font.family"] = 'NanumGothic'

In [4]:
hepatitis = pd.read_excel("./hepatitis.xlsx", index_col=0, engine="openpyxl")
hepatoma = pd.read_excel("./hepatoma.xlsx", index_col=0,engine="openpyxl")

In [5]:
hepatitis["Dx"] = 0
hepatitis

         ID2 Sex       Birth     Dx_date  Dx                  Lab    Value
No
1       5715   F  1972-10-03  2019-07-03   0                  NaN      NaN
2       6189   M  1953-02-17  2019-07-02   0                  NaN      NaN
3       7295   F  1957-06-01  2019-07-31   0                  NaN      NaN
4       9255   F  1956-11-01         NaN   0                  ANC  4740.00
5       9255   F  1956-11-01         NaN   0  Atypical lymphocyte      NaN
...      ...  ..         ...         ...  ..                  ...      ...
18469  11203   M  1972-02-01         NaN   0        WBC(검사24시간가능)    10.16
18470  11203   M  1972-02-01         NaN   0        WBC(검사24시간가능)    10.27
18471  11203   M  1972-02-01         NaN   0        WBC(검사24시간가능)    10.84
18472  11203   M  1972-02-01         NaN   0        WBC(검사24시간가능)    11.87
18473  11203   M  1972-02-01         NaN   0        WBC(검사24시간가능)    17.04

[18473 rows x 7 columns]

In [6]:
hepatoma["Dx"] = 1
hepatoma

       ID2 Sex       Birth     Dx_date  Dx                   Lab    Value
Num
1     5348   M  1958-09-24  2016-11-21   1                   NaN      NaN
2     5348   M  1958-09-24  2016-11-28   1                   NaN      NaN
3     5348   M  1958-09-24  2016-12-01   1                   NaN      NaN
4     5348   M  1958-09-24  2016-12-05   1                   NaN      NaN
5     5348   M  1958-09-24  2016-12-08   1                   ANC  2660.00
...    ...  ..         ...         ...  ..                   ...      ...
8261  5872   F  1942-02-17  2016-12-06   1          Promyelocyte      NaN
8262  5872   F  1942-02-17  2016-12-06   1         RBC(검사24시간가능)     3.82
8263  5872   F  1942-02-17  2016-12-06   1         RDW(검사24시간가능)    13.30
8264  5872   F  1942-02-17  2016-12-06   1  Segmented neutrophil    44.10
8265  5872   F  1942-02-17  2016-12-06   1         WBC(검사24시간가능)     6.45

[8265 rows x 7 columns]

In [21]:
hepatitis.groupby("Lab").nunique()["ID2"]

Lab
ANC                     107
Atypical lymphocyte     107
BUN(검사24시간가능)           114
Band neutrophil         107
Basophil                107
Blast                   107
ESR(검사24시간가능)            26
Eosinophil              107
GOT (AST)(검사24시간가능)     116
GPT (ALT)(검사24시간가능)     116
Hb(검사24시간가능)            112
Hct                     112
Immature cell           107
Immature lymphocyte     107
Immature monocyte       107
Large unstained cell    107
Lymphocyte              107
MCH                     112
MCHC                    112
MCV                     112
MPV                     112
Metamyelocyte           107
Monocyte                107
Myelocyte               107
Normoblast              107
PCT                     112
PDW(검사24시간가능)           112
PLT(검사24시간가능)           112
Plasma cell             107
Promyelocyte            107
RBC(검사24시간가능)           112
RDW(검사24시간가능)           112
Segmented neutrophil    107
WBC(검사24시간가능)           112
Name: ID2, dtype: int64

In [22]:
hepatitis.groupby("Lab").agg(["min", "max", "mean"])["Value"]

                        min       max         mean
Lab
ANC                    0.00  54180.00  4251.494876
Atypical lymphocyte    1.00     49.00     3.495238
BUN(검사24시간가능)          2.00     92.00    21.062176
Band neutrophil        1.00     32.00     5.482143
Basophil               0.00      3.00     0.744152
Blast                   NaN       NaN          NaN
ESR(검사24시간가능)          2.00    114.00    24.297297
Eosinophil             0.00     45.00     3.575105
GOT (AST)(검사24시간가능)    6.00  12663.00   365.869289
GPT (ALT)(검사24시간가능)    6.00   7565.00   477.557272
Hb(검사24시간가능)           0.40     17.30    11.567388
Hct                    2.40     50.90    34.031128
Immature cell           NaN       NaN          NaN
Immature lymphocyte     NaN       NaN          NaN
Immature monocyte       NaN       NaN          NaN
Large unstained cell   1.90      3.40     2.875000
Lymphocyte             1.00     92.00    26.209340
MCH                   13.40     39.10    31.020769
MCHC                  17.70     38.50    33.564837
MCV                   66.20    111.80    92.311979
MPV                    7.20     14.90    10.788274
Metamyelocyte          1.00     14.00     2.754098
Monocyte               1.00     36.00     9.290476
Myelocyte              0.00     11.00     2.953488
Normoblast             0.00      2.00     0.857143
PCT                    0.01      0.95     0.200105
PDW(검사24시간가능)          8.00     25.00    13.243885
PLT(검사24시간가능)          6.00    809.00   173.671392
Plasma cell             NaN       NaN          NaN
Promyelocyte           1.00      1.00     1.000000
RBC(검사24시간가능)          0.32      5.54     3.674748
RDW(검사24시간가능)         10.50     32.60    15.135661
Segmented neutrophil   4.00     97.00    60.082675
WBC(검사24시간가능)          0.03     80.89     6.731551

In [24]:
hepatitis.groupby("Lab").nunique()["ID2"]

Lab
ANC                     107
Atypical lymphocyte     107
BUN(검사24시간가능)           114
Band neutrophil         107
Basophil                107
Blast                   107
ESR(검사24시간가능)            26
Eosinophil              107
GOT (AST)(검사24시간가능)     116
GPT (ALT)(검사24시간가능)     116
Hb(검사24시간가능)            112
Hct                     112
Immature cell           107
Immature lymphocyte     107
Immature monocyte       107
Large unstained cell    107
Lymphocyte              107
MCH                     112
MCHC                    112
MCV                     112
MPV                     112
Metamyelocyte           107
Monocyte                107
Myelocyte               107
Normoblast              107
PCT                     112
PDW(검사24시간가능)           112
PLT(검사24시간가능)           112
Plasma cell             107
Promyelocyte            107
RBC(검사24시간가능)           112
RDW(검사24시간가능)           112
Segmented neutrophil    107
WBC(검사24시간가능)           112
Name: ID2, dtype: int64

In [23]:
hepatoma.groupby("Lab").nunique()["ID2"]

Lab
ANC                     21
Atypical lymphocyte     21
BUN(검사24시간가능)           21
Band neutrophil         21
Basophil                21
Blast                   21
Differential count       8
ESR(검사24시간가능)            8
Eosinophil              21
GOT (AST)(검사24시간가능)     22
GPT (ALT)(검사24시간가능)     22
Hb(검사24시간가능)            21
Hct                     21
Immature cell           21
Immature lymphocyte     21
Immature monocyte       21
Large unstained cell    21
Lymphocyte              21
MCH                     21
MCHC                    21
MCV                     21
MPV                     21
Metamyelocyte           21
Monocyte                21
Myelocyte               21
Normoblast              21
PCT                     21
PDW(검사24시간가능)           21
PLT(검사24시간가능)           21
Plasma cell             21
Promyelocyte            21
RBC(검사24시간가능)           21
RDW(검사24시간가능)           21
Segmented neutrophil    21
WBC(검사24시간가능)           21
Name: ID2, dtype: int64

In [25]:
hepatitis = hepatitis.dropna(subset=["Lab", "Value"])
hepatitis

         ID2 Sex       Birth Dx_date  Dx                  Lab    Value
No
4       9255   F  1956-11-01     NaN   0                  ANC  4740.00
6       9255   F  1956-11-01     NaN   0        BUN(검사24시간가능)    10.00
8       9255   F  1956-11-01     NaN   0             Basophil     0.40
10      9255   F  1956-11-01     NaN   0           Eosinophil     3.80
11      9255   F  1956-11-01     NaN   0  GOT (AST)(검사24시간가능)    20.00
...      ...  ..         ...     ...  ..                  ...      ...
18469  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    10.16
18470  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    10.27
18471  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    10.84
18472  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    11.87
18473  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    17.04

[14488 rows x 7 columns]

In [26]:
hepatoma = hepatoma.dropna(subset=["Lab", "Value"])
hepatoma

       ID2 Sex       Birth     Dx_date  Dx                   Lab    Value
Num
5     5348   M  1958-09-24  2016-12-08   1                   ANC  2660.00
8     5348   M  1958-09-24  2016-12-08   1              Basophil     0.20
10    5348   M  1958-09-24  2016-12-08   1            Eosinophil     2.00
11    5348   M  1958-09-24  2016-12-08   1   GOT (AST)(검사24시간가능)    24.00
12    5348   M  1958-09-24  2016-12-08   1   GPT (ALT)(검사24시간가능)    20.00
...    ...  ..         ...         ...  ..                   ...      ...
8259  5872   F  1942-02-17  2016-12-06   1         PLT(검사24시간가능)   144.00
8262  5872   F  1942-02-17  2016-12-06   1         RBC(검사24시간가능)     3.82
8263  5872   F  1942-02-17  2016-12-06   1         RDW(검사24시간가능)    13.30
8264  5872   F  1942-02-17  2016-12-06   1  Segmented neutrophil    44.10
8265  5872   F  1942-02-17  2016-12-06   1         WBC(검사24시간가능)     6.45

[5872 rows x 7 columns]

In [27]:
list_hepatitis_lab = hepatitis["Lab"].unique().tolist()
list_hepatitis_lab

['ANC',
 'BUN(검사24시간가능)',
 'Basophil',
 'Eosinophil',
 'GOT (AST)(검사24시간가능)',
 'GPT (ALT)(검사24시간가능)',
 'Hb(검사24시간가능)',
 'Hct',
 'Lymphocyte',
 'MCH',
 'MCHC',
 'MCV',
 'MPV',
 'Monocyte',
 'PCT',
 'PDW(검사24시간가능)',
 'PLT(검사24시간가능)',
 'RBC(검사24시간가능)',
 'RDW(검사24시간가능)',
 'Segmented neutrophil',
 'WBC(검사24시간가능)',
 'Band neutrophil',
 'ESR(검사24시간가능)',
 'Atypical lymphocyte',
 'Metamyelocyte',
 'Myelocyte',
 'Large unstained cell',
 'Normoblast',
 'Promyelocyte']

In [30]:
len(list_hepatitis_lab)

29

In [28]:
list_hepatoma_lab = hepatoma["Lab"].unique().tolist()
list_hepatoma_lab

['ANC',
 'Basophil',
 'Eosinophil',
 'GOT (AST)(검사24시간가능)',
 'GPT (ALT)(검사24시간가능)',
 'Hb(검사24시간가능)',
 'Hct',
 'Lymphocyte',
 'MCH',
 'MCHC',
 'MCV',
 'MPV',
 'Monocyte',
 'PCT',
 'PDW(검사24시간가능)',
 'PLT(검사24시간가능)',
 'RBC(검사24시간가능)',
 'RDW(검사24시간가능)',
 'Segmented neutrophil',
 'WBC(검사24시간가능)',
 'BUN(검사24시간가능)',
 'Band neutrophil',
 'ESR(검사24시간가능)',
 'Atypical lymphocyte',
 'Metamyelocyte',
 'Myelocyte',
 'Normoblast',
 'Promyelocyte',
 'Large unstained cell']

In [31]:
len(list_hepatoma_lab)

29

In [32]:
sorted(list_hepatitis_lab) == sorted(list_hepatoma_lab)

True

In [33]:
list_lab = sorted(list_hepatitis_lab)
list_lab

['ANC',
 'Atypical lymphocyte',
 'BUN(검사24시간가능)',
 'Band neutrophil',
 'Basophil',
 'ESR(검사24시간가능)',
 'Eosinophil',
 'GOT (AST)(검사24시간가능)',
 'GPT (ALT)(검사24시간가능)',
 'Hb(검사24시간가능)',
 'Hct',
 'Large unstained cell',
 'Lymphocyte',
 'MCH',
 'MCHC',
 'MCV',
 'MPV',
 'Metamyelocyte',
 'Monocyte',
 'Myelocyte',
 'Normoblast',
 'PCT',
 'PDW(검사24시간가능)',
 'PLT(검사24시간가능)',
 'Promyelocyte',
 'RBC(검사24시간가능)',
 'RDW(검사24시간가능)',
 'Segmented neutrophil',
 'WBC(검사24시간가능)']

In [35]:
hepatitis["Dx"] = 0
hepatitis

<ipython-input-35-2013b24c93d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hepatitis["Dx"] = 0

         ID2 Sex       Birth Dx_date  Dx                  Lab    Value
No
4       9255   F  1956-11-01     NaN   0                  ANC  4740.00
6       9255   F  1956-11-01     NaN   0        BUN(검사24시간가능)    10.00
8       9255   F  1956-11-01     NaN   0             Basophil     0.40
10      9255   F  1956-11-01     NaN   0           Eosinophil     3.80
11      9255   F  1956-11-01     NaN   0  GOT (AST)(검사24시간가능)    20.00
...      ...  ..         ...     ...  ..                  ...      ...
18469  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    10.16
18470  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    10.27
18471  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    10.84
18472  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    11.87
18473  11203   M  1972-02-01     NaN   0        WBC(검사24시간가능)    17.04

[14488 rows x 7 columns]

In [36]:
hepatoma["Dx"] = 1
hepatoma

<ipython-input-36-a59f3f05b9f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hepatoma["Dx"] = 1

       ID2 Sex       Birth     Dx_date  Dx                   Lab    Value
Num
5     5348   M  1958-09-24  2016-12-08   1                   ANC  2660.00
8     5348   M  1958-09-24  2016-12-08   1              Basophil     0.20
10    5348   M  1958-09-24  2016-12-08   1            Eosinophil     2.00
11    5348   M  1958-09-24  2016-12-08   1   GOT (AST)(검사24시간가능)    24.00
12    5348   M  1958-09-24  2016-12-08   1   GPT (ALT)(검사24시간가능)    20.00
...    ...  ..         ...         ...  ..                   ...      ...
8259  5872   F  1942-02-17  2016-12-06   1         PLT(검사24시간가능)   144.00
8262  5872   F  1942-02-17  2016-12-06   1         RBC(검사24시간가능)     3.82
8263  5872   F  1942-02-17  2016-12-06   1         RDW(검사24시간가능)    13.30
8264  5872   F  1942-02-17  2016-12-06   1  Segmented neutrophil    44.10
8265  5872   F  1942-02-17  2016-12-06   1         WBC(검사24시간가능)     6.45

[5872 rows x 7 columns]

In [58]:
hepatitis.groupby("ID2").count()

       Sex  Birth  Dx_date   Dx  Lab  Value
ID2
2865     3      3        0    3    3      3
3252    78     78        0   78   78     78
3939    63     63       42   63   63     63
4049    54     54        0   54   54     54
4394   171    171       40  171  171    171
...    ...    ...      ...  ...  ...    ...
14997  191    191      104  191  191    191
15139   23     23       23   23   23     23
15235   43     43       21   43   43     43
16400   83     83        0   83   83     83
16823   16     16       13   16   16     16

[119 rows x 6 columns]

In [111]:
hepatitis = hepatitis.sort_values(by=["ID2", "Lab"])
hepatitis = hepatitis.drop(["Sex", "Birth", "Dx_date"], axis=1)
hepatitis

         ID2  Dx                  Lab     Value
No
1398    2865   0        BUN(검사24시간가능)     15.00
1399    2865   0  GOT (AST)(검사24시간가능)     26.00
1400    2865   0  GPT (ALT)(검사24시간가능)     18.00
11194   3252   0                  ANC  11288.00
2881    3252   0                  ANC   4326.00
...      ...  ..                  ...       ...
399    16823   0        PDW(검사24시간가능)     11.20
400    16823   0        PLT(검사24시간가능)    276.00
401    16823   0        RBC(검사24시간가능)      4.80
402    16823   0        RDW(검사24시간가능)     13.20
403    16823   0        WBC(검사24시간가능)      8.01

[14488 rows x 4 columns]

In [96]:
hepatitis.iloc[0][["Lab", "Value"]].values.tolist()

['GPT (ALT)(검사24시간가능)', 18.0]

In [112]:
hepatoma = hepatoma.sort_values(by=["ID2", "Lab"])
hepatoma = hepatoma.drop(["Sex", "Birth", "Dx_date"], axis=1)
hepatoma

        ID2  Dx                   Lab    Value
Num
545    2299   1                   ANC  2540.00
547    2299   1         BUN(검사24시간가능)    12.00
549    2299   1              Basophil     0.40
551    2299   1            Eosinophil     1.60
552    2299   1   GOT (AST)(검사24시간가능)    35.00
...     ...  ..                   ...      ...
5330  14148   1         RDW(검사24시간가능)    13.20
5333  14148   1  Segmented neutrophil    78.20
5332  14148   1  Segmented neutrophil    43.70
5334  14148   1         WBC(검사24시간가능)     4.54
5335  14148   1         WBC(검사24시간가능)     5.05

[5872 rows x 4 columns]

In [119]:
list_hepatitis_id = hepatitis["ID2"].unique().tolist()
print(list_hepatitis_id)
print(len(list_hepatitis_id))

[2865, 3252, 3939, 4049, 4394, 4489, 4745, 4792, 4843, 4894, 4936, 5044, 5213, 5287, 5370, 5560, 5657, 5755, 5894, 6179, 6189, 6225, 6517, 6694, 6806, 6900, 7156, 7240, 7295, 7623, 7634, 7658, 7690, 7725, 7752, 7853, 7854, 7928, 7935, 7949, 7952, 8164, 8195, 8250, 8370, 8392, 8508, 8674, 8739, 8881, 8893, 9179, 9255, 9349, 9573, 9729, 9747, 9833, 9840, 10038, 10132, 10318, 10469, 10487, 10489, 10580, 10598, 10742, 10775, 10777, 10902, 10906, 10953, 10964, 10983, 11063, 11168, 11170, 11182, 11203, 11244, 11285, 11339, 11386, 11522, 11549, 11650, 11671, 11927, 11974, 12070, 12352, 12412, 12474, 12496, 12620, 12716, 12732, 12746, 13169, 13237, 13272, 13423, 13427, 13488, 13489, 13726, 13895, 14122, 14149, 14158, 14392, 14758, 14943, 14997, 15139, 15235, 16400, 16823]
119

In [120]:
list_hepatoma_id = hepatoma["ID2"].unique().tolist()
print(list_hepatoma_id)
print(len(list_hepatoma_id))

[2299, 5348, 5872, 5981, 6135, 7784, 7831, 7918, 7940, 8471, 8604, 9474, 10530, 10649, 10800, 11260, 12507, 12543, 12718, 13765, 14072, 14148]
22

In [134]:
biglist = []
df_id = pd.DataFrame()
inner_df = pd.DataFrame()

for i in range(len(list_hepatitis_id)):
    print(list_hepatitis_id[i])    
    
    inner_list = []
    for j in range(len(hepatitis)):
        print(j)
        if hepatitis.iloc[j]["ID2"] == list_hepatitis_id[i]:
            inner_list.append(hepatitis.iloc[j][["Lab", "Value"]].values.tolist())
    inner_df = pd.DataFrame(inner_list)
    inner_df["index"] = list_hepatitis_id[i]
    inner_df = inner_df.set_index("index")
    #print(inner_df)
    biglist.append(inner_df)

2865
3252
3939
4049
4394
4489
4745
4792
4843
4894
4936
5044
5213
5287
5370
5560
5657
5755
5894
6179
6189
6225
6517
6694
6806
6900
7156
7240
7295
7623
7634
7658
7690
7725
7752
7853
7854
7928
7935
7949
7952
8164
8195
8250
8370
8392
8508
8674
8739
8881
8893
9179
9255
9349
9573
9729
9747
9833
9840
10038
10132
10318
10469
10487
10489
10580
10598
10742
10775
10777
10902
10906
10953
10964
10983
11063
11168
11170
11182
11203
11244
11285
11339
11386
11522
11549
11650
11671
11927
11974
12070
12352
12412
12474
12496
12620
12716
12732
12746
13169
13237
13272
13423
13427
13488
13489
13726
13895
14122
14149
14158
14392
14758
14943
14997
15139
15235
16400
16823

In [118]:
len(biglist)

119

In [132]:
biglist2 = []
df_id = pd.DataFrame()
inner_df = pd.DataFrame()

for i in range(len(list_hepatoma_id)):
    print(list_hepatoma_id[i])    
    
    inner_list = []
    for j in range(len(hepatoma)):    
        if hepatoma.iloc[j]["ID2"] == list_hepatoma_id[i]:
            inner_list.append(hepatoma.iloc[j][["Lab", "Value"]].values.tolist())
    inner_df = pd.DataFrame(inner_list)
    inner_df["index"] = list_hepatoma_id[i]
    inner_df = inner_df.set_index("index")
    #print(inner_df)
    biglist2.append(inner_df)

2299
5348
5872
5981
6135
7784
7831
7918
7940
8471
8604
9474
10530
10649
10800
11260
12507
12543
12718
13765
14072
14148

In [126]:
len(biglist2)

22

In [149]:
biglist2[0]

                          0        1
index
2299                    ANC  2540.00
2299          BUN(검사24시간가능)    12.00
2299               Basophil     0.40
2299             Eosinophil     1.60
2299    GOT (AST)(검사24시간가능)    35.00
2299    GPT (ALT)(검사24시간가능)    27.00
2299           Hb(검사24시간가능)    13.10
2299                    Hct    37.70
2299             Lymphocyte    39.50
2299                    MCH    35.00
2299                   MCHC    34.70
2299                    MCV   100.80
2299                    MPV     9.50
2299               Monocyte    12.90
2299                    PCT     0.12
2299          PDW(검사24시간가능)    10.00
2299          PLT(검사24시간가능)   128.00
2299          RBC(검사24시간가능)     3.74
2299          RDW(검사24시간가능)    13.70
2299   Segmented neutrophil    45.60
2299          WBC(검사24시간가능)     5.57

In [142]:
biglist2[10][0].unique()

array(['ANC', 'Atypical lymphocyte', 'BUN(검사24시간가능)', 'Band neutrophil',
       'Basophil', 'ESR(검사24시간가능)', 'Eosinophil', 'GOT (AST)(검사24시간가능)',
       'GPT (ALT)(검사24시간가능)', 'Hb(검사24시간가능)', 'Hct', 'Lymphocyte', 'MCH',
       'MCHC', 'MCV', 'MPV', 'Metamyelocyte', 'Monocyte', 'Myelocyte',
       'Normoblast', 'PCT', 'PDW(검사24시간가능)', 'PLT(검사24시간가능)',
       'Promyelocyte', 'RBC(검사24시간가능)', 'RDW(검사24시간가능)',
       'Segmented neutrophil', 'WBC(검사24시간가능)'], dtype=object)

In [156]:
df_test = pd.DataFrame(index=list_hepatitis_id, columns=list_lab)
df_test["Dx"] = 0 #hepatitis
df_test

,ANC,Atypical lymphocyte,BUN(검사24시간가능),Band neutrophil,Basophil,ESR(검사24시간가능),Eosinophil,GOT (AST)(검사24시간가능),GPT (ALT)(검사24시간가능),Hb(검사24시간가능),...,Normoblast,PCT,PDW(검사24시간가능),PLT(검사24시간가능),Promyelocyte,RBC(검사24시간가능),RDW(검사24시간가능),Segmented neutrophil,WBC(검사24시간가능),Dx
2865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [157]:
biglist[0][0]

index
2865          BUN(검사24시간가능)
2865    GOT (AST)(검사24시간가능)
2865    GPT (ALT)(검사24시간가능)
Name: 0, dtype: object

In [ ]:
for i in range(len(biglist)):
    if biglist[j][0] == df_test:
        df_test.loc[""]

In [162]:
df_test.copy()["ANC"][2865] = 202
df_test

,ANC,Atypical lymphocyte,BUN(검사24시간가능),Band neutrophil,Basophil,ESR(검사24시간가능),Eosinophil,GOT (AST)(검사24시간가능),GPT (ALT)(검사24시간가능),Hb(검사24시간가능),...,Normoblast,PCT,PDW(검사24시간가능),PLT(검사24시간가능),Promyelocyte,RBC(검사24시간가능),RDW(검사24시간가능),Segmented neutrophil,WBC(검사24시간가능),Dx
2865,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [220]:
def dfListTotal(df, list_id):
    biglist = []
    inner_df = pd.DataFrame()

    bar = progressbar.ProgressBar().start()
    for i in range(len(list_id)):
        #print(list_id[i])        

        inner_list = []
        for j in range(len(df)):    
            if df.iloc[j]["ID2"] == list_id[i]:
                inner_list.append(df.iloc[j][["Lab", "Value"]].values.tolist())
        inner_df = pd.DataFrame(inner_list)
        inner_df["index"] = list_id[i]
        inner_df = inner_df.set_index("index")
        inner_df = inner_df.drop_duplicates(0, keep="last")
        #inner_df.columns = [0, list_id[i]]

        df_transposed = inner_df.transpose()
        df_transposed.columns = df_transposed.iloc[0]
        df_transposed.set_index = list_id[i]
        df_transposed = df_transposed.drop(0)
        #print(inner_df)
        biglist.append(df_transposed)
        
        bar.update(i)
    bar.finish()
    
    return biglist

In [222]:
list_hepatoma_df = dfListTotal(hepatoma, list_hepatoma_id)
list_hepatitis_df = dfListTotal(hepatitis, list_hepatitis_id)

100% |########################################################################|
100% |########################################################################|

ValueError: Value out of range

In [196]:
biglist2[6]

,ANC,Atypical lymphocyte,BUN(검사24시간가능),Band neutrophil,Basophil,Eosinophil,GOT (AST)(검사24시간가능),GPT (ALT)(검사24시간가능),Hb(검사24시간가능),Hct,...,Monocyte,Myelocyte,Normoblast,PCT,PDW(검사24시간가능),PLT(검사24시간가능),RBC(검사24시간가능),RDW(검사24시간가능),Segmented neutrophil,WBC(검사24시간가능)
1,8392,1,16,1,4,0.1,241,31,2.5,24.7,...,1,1,1,0.15,13,89,2.67,19,4,12.79

In [204]:
hepatoma_final = pd.DataFrame(columns = list_lab)
for i in range(len(biglist2)):
    hepatoma_final = pd.concat([hepatoma_final, biglist2[i]], axis=0)
hepatoma_final = hepatoma_final.reset_index().drop(["index"], axis=1)
hepatoma_final["Dx"] = 1
hepatoma_final

,ANC,Atypical lymphocyte,BUN(검사24시간가능),Band neutrophil,Basophil,ESR(검사24시간가능),Eosinophil,GOT (AST)(검사24시간가능),GPT (ALT)(검사24시간가능),Hb(검사24시간가능),...,Normoblast,PCT,PDW(검사24시간가능),PLT(검사24시간가능),Promyelocyte,RBC(검사24시간가능),RDW(검사24시간가능),Segmented neutrophil,WBC(검사24시간가능),Dx
0,2540,NaN,12,NaN,0.4,NaN,1.6,35,27,13.1,...,NaN,0.12,10,128,NaN,3.74,13.7,45.6,5.57,1
1,2661,NaN,13,NaN,0.2,NaN,1.9,23,18,14.7,...,NaN,0.2,8.7,219,NaN,5.28,12.8,53.9,5.13,1
2,2550,NaN,16,NaN,0.1,NaN,0.3,573,59,10.3,...,NaN,0.13,10.3,121,NaN,3.28,12.9,50.2,6.45,1
3,3876,1,10,1,0.2,NaN,1.1,37,15,13,...,NaN,0.16,13.3,142,NaN,4.48,14.9,68,5.49,1
4,5402,NaN,12,NaN,0.2,9,0.3,30,77,14,...,NaN,0.29,10.2,357,NaN,4.95,13,67.5,10.59,1
5,4248,NaN,28,NaN,0.4,83,1.2,132,64,8.8,...,NaN,0.6,8,689,NaN,2.58,14.1,69.9,6.66,1
6,8392,1,16,1,4,NaN,0.1,241,31,2.5,...,1,0.15,13,89,NaN,2.67,19,4,12.79,1
7,2510,NaN,11,NaN,0.2,NaN,0.6,50,46,14.6,...,0,0.17,11.6,158,NaN,4.71,13.5,50,4.59,1
8,NaN,NaN,21,NaN,NaN,NaN,NaN,20,29,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
9,3711,NaN,18,NaN,0.5,NaN,1.9,21,19,16.1,...,NaN,0.11,12.9,106,NaN,5.15,12.3,77.7,5.12,1
10,8286,1,16,16,0.6,44,1,1756,2261,2.7,...,7,0.12,13.6,112,1,3.35,16,58.3,4.03,1
11,2570,NaN,18,NaN,0.7,NaN,1.2,16,15,14.6,...,NaN,0.08,17.5,67,NaN,4.76,13.1,65.2,5.88,1
12,2054,NaN,11,1,1,27,1,29,38,12.3,...,NaN,0.29,12,281,NaN,4.5,12.1,28,5.5,1
13,5199,NaN,14,NaN,0.5,3,2,23,24,16.4,...,NaN,0.34,12.1,330,NaN,5.27,11.1,61.6,8.44,1
14,5066,NaN,14,4,1.1,NaN,1,37,34,13.9,...,NaN,0.08,11.8,71,NaN,3.74,15.4,61.6,5.33,1
15,3422,2,19,2,0.5,NaN,2.7,50,79,14.5,...,NaN,0.17,12.6,153,NaN,4.76,13.1,62.4,5.82,1
16,4740,NaN,NaN,NaN,0.4,NaN,3.3,13,10,11.1,...,NaN,0.44,11.5,437,NaN,3.87,17.6,62,5.06,1
17,3031,NaN,12,NaN,0.3,13,5.5,28,33,14.4,...,NaN,0.24,11.4,230,NaN,4.85,13.4,45.9,5.32,1
18,1830,NaN,11,NaN,1.5,NaN,2,21,12,13.9,...,NaN,0.17,10.3,160,NaN,4.09,11.7,43.3,3.42,1
19,1922,1,14,4,0.6,34,3.2,24,11,11.4,...,NaN,0.08,12.5,73,NaN,3.21,18.8,62,3.1,1
20,1788,NaN,15,NaN,0.4,41,0.4,25,19,12.4,...,NaN,0.11,16.5,89,NaN,4.89,15.2,62.5,3.76,1
21,2207,NaN,11,NaN,0.6,NaN,1.1,86,28,12.9,...,NaN,0.11,15,94,NaN,4.11,13.2,43.7,5.05,1

In [ ]:
list_df = []
df_per_id = pd.DataFrame()
inner_df = pd.DataFrame()

for i in range(len(list_hepatoma_id)):
    print(list_hepatoma_id[i])    
    
    inner_list = []
    for j in range(len(hepatoma)):    
        if hepatoma.iloc[j]["ID2"] == list_hepatoma_id[i]:
            inner_list.append(hepatoma.iloc[j][["Lab", "Value"]].values.tolist())
    inner_df = pd.DataFrame(inner_list)
    inner_df["index"] = list_hepatoma_id[i]
    inner_df = inner_df.set_index("index")
    inner_df = inner_df.drop_duplicates(0, keep="last")
    #inner_df.columns = [0, list_hepatoma_id[i]]

    df_transposed = inner_df.transpose()
    df_transposed.columns = df_transposed.iloc[0]
    df_transposed.set_index = list_hepatoma_id[i]
    df_transposed = df_transposed.drop(0)
    #print(inner_df)
    biglist2.append(df_transposed)

In [37]:
def dfLablist(dataframe, list_df):
    for i in range(len(list_lab)):
        df = dataframe[dataframe["Lab"] == list_lab[i]] # df for each Lab
        df = df.drop(["ID2", "Sex", "Birth", "Dx_date", "Lab"], axis=1) # remove Lab column
        df = df.drop_duplicates("Value") # remove identical values
        df = df.reset_index(drop=True)
        df.columns = ["Dx", list_lab[i]] # replace the column name into Lab name

        list_df.append(df)

In [38]:
list_hepatitis = []
list_hepatoma = []
dfLablist(hepatitis, list_hepatitis)
dfLablist(hepatoma, list_hepatoma)

print(len(list_hepatitis))
print(len(list_hepatoma))

29
29

In [40]:
def dfLabtable(mylist):
    df = pd.DataFrame()
    for i in range(29):
        df = pd.concat([df, mylist[i].drop("Dx", axis=1)], axis = 1)
    return df

In [41]:
df_hepatitis = dfLabtable(list_hepatitis)
df_hepatitis["Dx"] = 0
df_hepatoma = dfLabtable(list_hepatoma)
df_hepatoma["Dx"] = 1

In [42]:
df_hepatitis

,ANC,Atypical lymphocyte,BUN(검사24시간가능),Band neutrophil,Basophil,ESR(검사24시간가능),Eosinophil,GOT (AST)(검사24시간가능),GPT (ALT)(검사24시간가능),Hb(검사24시간가능),...,Normoblast,PCT,PDW(검사24시간가능),PLT(검사24시간가능),Promyelocyte,RBC(검사24시간가능),RDW(검사24시간가능),Segmented neutrophil,WBC(검사24시간가능),Dx
0,4740.0,2.0,10.0,3.0,0.4,15.0,3.8,20.0,13.0,13.7,...,1.0,0.22,11.8,203.0,1.0,4.48,12.5,62.7,7.56,0
1,3329.0,1.0,12.0,11.0,0.6,28.0,1.8,30.0,24.0,14.1,...,0.0,0.24,11.0,240.0,NaN,4.79,11.8,65.4,5.09,0
2,1939.0,3.0,14.0,1.0,0.8,31.0,5.2,48.0,43.0,13.3,...,2.0,0.20,14.7,177.0,NaN,4.28,12.8,40.0,4.51,0
3,3858.0,4.0,15.0,2.0,0.2,49.0,8.1,16.0,16.0,12.8,...,NaN,0.23,12.9,214.0,NaN,4.95,13.0,64.2,6.01,0
4,2120.0,7.0,13.0,4.0,0.3,22.0,0.6,19.0,14.0,13.1,...,NaN,0.19,14.9,169.0,NaN,4.20,12.1,45.0,4.71,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,7235.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
604,5178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
605,2545.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
606,3946.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
607,2878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [43]:
df_hepatoma

,ANC,Atypical lymphocyte,BUN(검사24시간가능),Band neutrophil,Basophil,ESR(검사24시간가능),Eosinophil,GOT (AST)(검사24시간가능),GPT (ALT)(검사24시간가능),Hb(검사24시간가능),...,Normoblast,PCT,PDW(검사24시간가능),PLT(검사24시간가능),Promyelocyte,RBC(검사24시간가능),RDW(검사24시간가능),Segmented neutrophil,WBC(검사24시간가능),Dx
0,2660.0,1.0,16.0,1.0,0.2,27.0,2.0,24.0,20.0,13.8,...,3.0,0.16,9.0,193.0,1.0,4.79,13.5,53.3,4.99,1
1,2398.0,2.0,14.0,5.0,0.5,55.0,3.1,19.0,14.0,14.9,...,5.0,0.08,16.4,63.0,NaN,3.22,13.2,56.7,4.23,1
2,1702.0,3.0,9.0,4.0,0.4,83.0,1.9,45.0,25.0,8.6,...,7.0,0.13,12.5,116.0,NaN,4.02,14.8,60.0,2.79,1
3,1859.0,NaN,11.0,10.0,0.6,22.0,1.2,39.0,12.0,12.5,...,10.0,0.09,12.2,78.0,NaN,5.06,14.0,69.9,2.66,1
4,3325.0,NaN,18.0,12.0,1.0,3.0,2.6,44.0,24.0,15.3,...,15.0,0.29,11.2,127.0,NaN,3.96,12.4,68.7,4.84,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,2926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
291,3275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
292,6096.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
293,3681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
294,2844.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [44]:
df_total = pd.concat([df_hepatitis, df_hepatoma])
df_total = df_total.reset_index(drop=True)
df_total

,ANC,Atypical lymphocyte,BUN(검사24시간가능),Band neutrophil,Basophil,ESR(검사24시간가능),Eosinophil,GOT (AST)(검사24시간가능),GPT (ALT)(검사24시간가능),Hb(검사24시간가능),...,Normoblast,PCT,PDW(검사24시간가능),PLT(검사24시간가능),Promyelocyte,RBC(검사24시간가능),RDW(검사24시간가능),Segmented neutrophil,WBC(검사24시간가능),Dx
0,4740.0,2.0,10.0,3.0,0.4,15.0,3.8,20.0,13.0,13.7,...,1.0,0.22,11.8,203.0,1.0,4.48,12.5,62.7,7.56,0
1,3329.0,1.0,12.0,11.0,0.6,28.0,1.8,30.0,24.0,14.1,...,0.0,0.24,11.0,240.0,NaN,4.79,11.8,65.4,5.09,0
2,1939.0,3.0,14.0,1.0,0.8,31.0,5.2,48.0,43.0,13.3,...,2.0,0.20,14.7,177.0,NaN,4.28,12.8,40.0,4.51,0
3,3858.0,4.0,15.0,2.0,0.2,49.0,8.1,16.0,16.0,12.8,...,NaN,0.23,12.9,214.0,NaN,4.95,13.0,64.2,6.01,0
4,2120.0,7.0,13.0,4.0,0.3,22.0,0.6,19.0,14.0,13.1,...,NaN,0.19,14.9,169.0,NaN,4.20,12.1,45.0,4.71,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,2926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
899,3275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
900,6096.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
901,3681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
902,2844.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [46]:
condition = df_total.count() > 100
condition = condition.values.tolist()
#condition

In [47]:
list_index = []
for i in range(len(condition)):
    a = condition[i]
    if a==True:
        list_index.append(i)
        
list_index

[0, 2, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 22, 23, 25, 26, 27, 28, 29]

In [48]:
df_final = df_total.iloc[:,list_index]
df_final = df_final.dropna()
df_final = df_final.reset_index(drop=True)
df_final

,ANC,BUN(검사24시간가능),Eosinophil,GOT (AST)(검사24시간가능),GPT (ALT)(검사24시간가능),Hb(검사24시간가능),Hct,Lymphocyte,MCH,MCHC,MCV,MPV,Monocyte,PDW(검사24시간가능),PLT(검사24시간가능),RBC(검사24시간가능),RDW(검사24시간가능),Segmented neutrophil,WBC(검사24시간가능),Dx
0,4740.0,10.0,3.8,20.0,13.0,13.7,40.6,27.4,30.6,33.7,90.6,10.6,5.7,11.8,203.0,4.48,12.5,62.7,7.56,0
1,3329.0,12.0,1.8,30.0,24.0,14.1,43.0,22.2,29.4,32.8,89.8,9.8,10.0,11.0,240.0,4.79,11.8,65.4,5.09,0
2,1939.0,14.0,5.2,48.0,43.0,13.3,40.4,51.0,31.1,32.9,94.4,11.4,6.0,14.7,177.0,4.28,12.8,40.0,4.51,0
3,3858.0,15.0,8.1,16.0,16.0,12.8,42.0,23.0,27.7,32.6,84.8,10.7,6.8,12.9,214.0,4.95,13.0,64.2,6.01,0
4,2120.0,13.0,0.6,19.0,14.0,13.1,40.7,38.4,31.7,32.7,96.9,11.1,8.3,14.9,169.0,4.20,12.1,45.0,4.71,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,5533.0,51.0,3.4,63.0,95.0,13.5,25.9,15.1,26.5,31.3,92.6,12.6,7.4,9.7,189.0,5.13,16.6,54.0,12.44,1
118,6558.0,53.0,12.0,23.0,103.0,14.1,44.2,27.6,27.2,31.6,92.1,12.1,5.0,8.1,235.0,4.42,15.1,55.0,14.64,1
119,7340.0,58.0,4.5,37.0,37.0,13.6,42.4,33.7,34.6,31.8,89.5,11.7,7.5,10.3,147.0,4.45,15.8,50.4,6.52,1
120,9516.0,59.0,3.6,47.0,79.0,9.5,41.2,24.7,30.0,29.9,85.5,9.3,7.8,12.1,158.0,5.07,16.5,78.4,5.13,1
121,4557.0,60.0,2.3,68.0,167.0,10.6,47.0,7.0,26.4,31.9,96.1,9.4,10.9,19.0,79.0,5.20,17.1,58.7,13.81,1